
<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Voir', article_path(article) %></td>
      <td><%= link_to 'Modifier', edit_article_path(article) %></td>
      <td><%= link_to 'Supprimer', article_path(article),
                      method: :delete,
                      data: { confirm: 'Voulez vous vraiment supprimer cet élément ?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Nouvel article', new_article_path %>